# Core PyTorch and XLA libraries (install with the -f flag)
torch~=2.5.0
torchvision~=0.19.0
torch_xla[tpu]~=2.5.0

# Other core deep learning libraries
transformers
accelerate
bitsandbytes
tensorflow
tf-keras

# Data handling and utility libraries
numpy
pandas
Pillow
matplotlib
scikit-learn
google-cloud-storage
tqdm